/* -----------------------------------------------------------------------------------------------------------BLOG */
.encabezado-blog{
    color: $color-secondary;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    font-family: $fuente-encabezados, sans-serif;
    margin: 50px;
}
.encabezado2-blog{
    margin: 5px;
    color: $color-tertiary;
}
.animate__zoomIn{
    animation-duration: 3s;
    animation-delay: .2s;
    animation-timing-function: ease;
}
.imagen-blog{
    width: 99%;
    height: 250px;
}
.chocotorta{
    display: grid;
    grid-template-areas:
    "titulo"
    "foto" 
    "ingredientes" 
    "pasoApaso";
}
.alfajorcitosMaicena{
    padding-top: 50px;
    display: grid;
    grid-template-areas:
    "titulo"
    "foto" 
}
.foto{
    grid-area: foto;
    padding-top: 15px;
}
.titulo{
    grid-area: titulo;
    text-align: center;
    background-color: $color-primary;
}
