/* ---------------------------------------------------------------------------------------------------CONTACTO */
.encabezado-contacto{
    @include encabezado;
    color: $color-secondary;
    font-family: $fuente-encabezados, sans-serif;
}
.lista-contacto{
    list-style-type: none;
    padding: 20px;
}
.ubicacion{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

