/* ---------------------------------------------------------------------------------------------HEADER */
.imagen-logo{
    width: 210px;
    height: 55px;
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease;
    &:hover{
        transform: scale(1.1);
    }
}

