/* -------------------------------------------------------------------------------------------INDEX */
.texto-index{
    text-align: center;
    font-size: 1.1em;
    font-weight: 400;
    font-family: $fuente-texto, sans-serif;
    margin: 20px;
}
.encabezado-index{
    @include encabezado;
    color: $color-secondary;
    font-family: $fuente-encabezados, sans-serif;
}
