/* ----------------------------------------------------------------------------MEDIA QUERIES HEADER */
@media screen and (min-width: 992px) {
    .item-navegador{
        margin-left: 2px;
        margin-right: 2px;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: ease;
        &:hover{
            transform: scale(1.1);
        }
        }
    }

    /* ------------------------------------------------------------------------------MEDIA QUERIES FOOTER */
@media screen and (min-width: 480px) {
    .item-footer{
        display: inline-block;
        padding: 5px;
        margin: 5px;
    }
}
@media screen and (min-width: 768px) {
    .lista-footer{
        align-items: baseline;
    }
    .link-footer2{
        display: inline;
    }
    .imagen-footer{
        width: 40px;
        height: 40px;
    }
}

/*-------------------------------------------------------------------------------MEDIA QUERIES INDEX*/
@media screen and (min-width: 480px) {
    .texto-index{
        font-size: 1.4em;
    }
    .encabezado-index{
        font-size: 1.8em;
    }
}
@media screen and (min-width: 768px) {
    .texto-index{
        font-size: 1.6em;
    }
    .encabezado-index{
        font-size: 2em;
    }
}

/*-----------------------------------------------------------------------------MEDIA QUERIES COMO FUNCIONA */
@media screen and (min-width: 480px) {
    .texto-comoFunciona{
        font-size: 1.6em;
    }
    .encabezado-comoFunciona{
        font-size: 2em;
    }
}

/*--------------------------------------------------------------------------------------MEDIA QUERIES PRODUCTOS */
@media screen and (min-width: 480px) {
    .encabezado-productos{
        font-size: 2em;
    }
}

/*------------------------------------------------------------------------------------ MEDIA QUERIES BLOG */
@media screen and (min-width: 480px) {
    .encabezado-blog{
        font-size: 2em;
    }   
    .encabezado2-blog{
        font-size: 1.8em;
    }
    .subencabezado-blog{
        font-size: 1.1em;
    }
    .imagen-blog{
        width: 99%;
        height: 370px;
    }
}
@media screen and (min-width: 992px) {
    .chocotorta{
        display: grid;
        grid-template-areas:
        "titulo titulo titulo"
        "foto ingredientes pasoApaso";
    }
    .alfajorcitosMaicena{
        padding-top: 50px;
        display: grid;
        grid-template-areas:
        "titulo titulo titulo"
        "foto ingredientes pasoApaso";
    }
    .imagen-blog{
        width: 400px;
        height: 300px;
    }
}

/*----------------------------------------------------------------------------------------------------MEDIA QUERIES CONTACTO */
@media screen and (min-width: 480px) {
    .encabezado-contacto{
        font-size: 2em;
    }
}
@media screen and (min-width: 768px) {
    .encabezado-contacto{
        font-size: 2em;
    }
    .contacto{
        flex-flow: row wrap;
    }
    .ubicacion{
        padding-left: 50px;
    }
    .formulario-contacto{
        padding-right: 50px;
    }
}