/* Variables de Colores */
$color-primary: #ffc90e;
$color-secondary: #3C4F76;
$color-tertiary: black;

/* Variables de Fuentes */
$fuente-links: 'Roboto';
$fuente-encabezados: 'Jost';
$fuente-texto: 'Dosis';